Data/.DS_Store
Data/Annonymous/.DS_Store
Data/Jacopo da Bologna/.DS_Store
Data/Philippe Royllart/.DS_Store
Data/Philippe de Vitry/.DS_Store
.DS_Store
.bash_profile
.python-version
~$Motet Data.xlsx
Data/Annonymous/Altissonis aptatis; Hin principes; Tonans/.DS_Store
